.newJumbo{
    padding-top: 2%;
    padding-bottom: 2%;
}

#box {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    background-color: #f02043;
}